# Model hacks for item frames, need forge patch
public-f net.minecraft.client.resources.model.ModelBakery f_119242_ # STATE_CONTAINER_OVERRIDES

# Fixing vanilla stupidity with flower pots
protected net.minecraft.world.level.block.FlowerPotBlock f_53524_

# Tweaking canyon gen height
protected net.minecraft.world.level.levelgen.carver.CanyonWorldCarver func_222729_a(Lnet/minecraft/world/chunk/IChunk;JIIIDDDFFFIIDLjava/util/BitSet;)V # func_222729_a

# Tree helpers
public net.minecraft.world.gen.feature.AbstractTreeFeature func_214572_g(Lnet/minecraft/world/gen/IWorldGenerationBaseReader;Lnet/minecraft/util/math/BlockPos;)Z # isAirOrLeaves

# Map of DyeColor to wool block, just useful
public net.minecraft.world.entity.animal.Sheep f_29800_ # WOOL_BY_COLOR

# Overriding chest container name
public net.minecraft.block.ChestBlock$InventoryFactory
public net.minecraft.world.level.block.ChestBlock f_51487_ # field_220110_j

# Loot Tables
protected net.minecraft.data.loot.BlockLoot f_124062_
protected net.minecraft.data.loot.BlockLoot f_124063_
protected net.minecraft.data.loot.BlockLoot f_124064_
protected net.minecraft.data.loot.BlockLoot f_124065_
protected net.minecraft.data.loot.BlockLoot f_124066_
protected net.minecraft.data.loot.BlockLoot f_124068_
protected net.minecraft.data.loot.BlockLoot f_124069_

# Umbrella Shadow
protected net.minecraft.client.renderer.entity.EntityRenderer func_76975_c(Lnet/minecraft/entity/Entity;DDDFF)V # renderShadow
protected net.minecraft.client.renderer.entity.EntityRenderer func_76977_a(Lnet/minecraft/entity/Entity;DDDF)V # renderEntityOnFire

# Minigame dimension
public net.minecraft.world.level.GameRules m_46183_(Lcom/mojang/serialization/DynamicLike;)V # decode

# Chase camera
public net.minecraft.client.Camera m_90566_(D)D # calcCameraDistance
public net.minecraft.client.Camera m_90568_(DDD)V # movePosition
public net.minecraft.client.Camera m_90572_(FF)V # setDirection
public net.minecraft.client.Camera m_90584_(DDD)V # setPosition

# Runtime worlds
public net.minecraft.server.MinecraftServer f_129762_ # worlds
public net.minecraft.server.MinecraftServer f_129744_ # anvilConverterForAnvilFile

# Creepers
public net.minecraft.world.entity.monster.Creeper m_32315_()V # explode